{% load compress %} {% load static %}

<!DOCTYPE html>

<html>

<head>
	<title>Validate Card</title>
	{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
	{% endcompress %}
</head>

<body class="content-wrapper">

	<nav class="navbar fixed-top navbar-light bg-light" id="nav">
		<div class="container">
			<a class="navbar-brand center" id="logo">Validate Credit Card</a>
		</div>
	</nav>
	<br><br><br><br><br><br><br> {% block content %}{% endblock content %}
	</main>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$(window).scroll(function() {
			if ($(document).scrollTop() > 10) {
				$('#nav').addClass('shrink');
			}
			if ($(document).scrollTop() > 10) {
				$('#logo').addClass('shrink');
			} else {
				$('#nav').removeClass('shrink');
			}
		});
	});
</script>

</html>
